# Backend API base URL (no trailing slash)
VITE_API_BASE=https://api.staging.app.bis3ai.com

# Cognito user pool & app client (GovCloud)
VITE_COGNITO_USER_POOL_ID=us-gov-west-1_0VaQnbcFH
VITE_COGNITO_CLIENT_ID=anrf7jlfgfevp7c6esu705p7k
